.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*================== custom css start ============================*/
.listedCard {
  display: grid;
  grid-gap: 20px;
  /* grid-auto-flow: column; */
  grid-template-columns: repeat(4, 2fr);
  grid-auto-rows: auto;
}
.cardImg{
  background-size: contain !important;
  margin: 10px;


}
.imagecard {
  box-shadow: 0px 1px 5px 3px #00000057 !important;
  height: 100%;
  width: 100%;
  max-width: 100%;
}
/*================== custom css end ============================*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
